argparse==1.4.0 
black==21.5b1
catboost==1.0.5
category-encoders==2.3.0
ConfigSpace==0.4.21
flake8>=3.7.9, <4.0
hpbandster==0.7.4
ipython~=7.10
isort~=5.0
jupyter~=1.0
jupyter_client>=5.1, <7.0
jupyterlab~=3.0
kedro==0.17.6
kedro-telemetry~=0.1.0
kedro-viz==4.3.1
nbstripout~=0.4
numpy==1.22.1
pandas==1.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
torch==1.11.0
torchmetrics==0.7.2
wheel>=0.35, <0.37